@model Product

@{
    ViewBag.Title = "Редактирование товара";
    Layout = "_Layout";
}
<h2>Заполните форму для редактирования товара</h2>
<div class="row">
    <div class="col-md-6">
        <form asp-action="Edit" method="post">
            <div class="form-group">
                <label for="">
                    Наименование
                    <input class="form-control" asp-for="Name" type="text">
                    <span asp-validation-for="Name" class="text-danger"></span>
                </label>
            </div>

            <div class="form-group">
                <label for="">
                    Цена
                    <input class="form-control" asp-for="Price" type="text">
                    <span asp-validation-for="Price" class="text-danger"></span>
                </label>
            </div>
            
            <div class="form-group">
                <label for="">
                    Категория товара
                    <select asp-for="CategoryId" asp-items="@ViewBag.categoryItems" class="form-control">
                    </select>
                </label>
            </div>
            
            <div class="form-group">
                <label for="">
                    Бренд товара
                    <select asp-for="BrandId" asp-items="@ViewBag.brandItems" class="form-control">
                    </select>
                </label>
            </div>
            <div class="form-group">
                <label for="">
                    Ссылка на картинку
                    <input class="form-control" asp-for="ImgUrl" type="text">
                    <span asp-validation-for="ImgUrl" class="text-danger"></span>
                </label>
            </div>
            <button type="submit">Редактировать</button>
            <div class="form-group">
                <label for="">
                    <input hidden asp-for="Id" value="@Model.Id">
                </label>
            </div>
            <div class="form-group">
                <label for="">
                    <input hidden asp-for="CategoryId" value="@Model.CategoryId">
                </label>
            </div>
            <div class="form-group">
                <label for="">
                    <input hidden asp-for="BrandId" value="@Model.BrandId">
                </label>
            </div>
        </form>
    </div>
</div>

@section Scripts
{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}