@model System.Collections.Generic.List<ProductsStore.Models.Brand>

@{
    ViewBag.Title = "Список брендов";
    Layout = "_Layout";
}

@if (Model.Count == 0)
{
    <h2>Список пуст</h2>
}
else
{
    <table class="table-bordered" style="width: 50%;">
        <tr>
            <th>Id</th>
            <th>Наименование</th> 
            <th>Почта</th> 
            <th>Дата основания</th>
            <th class="text-center">Действие</th>
        </tr>
        @foreach (var brand in @Model)
        {
            <tr>
                <th>@brand.Id</th>
                <td>@brand.Name</td>
                <td>@brand.Email</td>
                <td>@brand.FoundationDate.ToString("dd/MM/yyyy")</td>
                <td class="text-center">
                    <div class="d-flex">
                        <a asp-route-brandId="@brand.Id"
                           asp-action="Delete"
                           asp-controller="Brands"
                           class="btn btn-outline-danger mx-2">
                            Удалить
                        </a>
                        <a asp-route-brandId="@brand.Id"
                           asp-action="Edit"
                           asp-controller="Brands"
                           class="btn btn-outline-danger mx-2">
                            Редактировать
                        </a>
                    </div>
                </td>
            </tr>
        }
    </table>
}